<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200260471892-53bslhofo4e1pg76j5vgb3bbfvpjud18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200260471892-53bslhofo4e1pg76j5vgb3bbfvpjud18</string>
	<key>API_KEY</key>
	<string>AIzaSyBIAreTrXpGpaN4D778mZYPqBClgvhl_rk</string>
	<key>GCM_SENDER_ID</key>
	<string>200260471892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whomii.whomii.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>whomii-5bd88</string>
	<key>STORAGE_BUCKET</key>
	<string>whomii-5bd88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200260471892:ios:07998bb1410f352ce231c1</string>
</dict>
</plist>